/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgreen;
}

h1 {
  font-style: italic;
  color: #373fff;
}

button {
  width: 100%;
}

#btn-equal {
  height: 8.25em;
}

.input {
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: black;
  color: white;
  padding: 0.5em;
  outline: 1px solid #888888;
}
button {
 height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
  
}
.orange {
   background-color: #fe9241;
   color: white;
}